extends layout
block append navbar
	li(class='active')
		a(href='#electronics') Electronics
	li
		a(href='#ultimate') Ultimate Frisbee
	li
		a(href='#sc2') StarCraft 2
block append content
	p
		| Ultimate Frisbee is the greatest sport ever.
	p
		| I played for 
		a(href='http://www.magnumultimate.com/reserve/', target='_blank') MagnUM Reserve
		a(href='http://twitter.com/Reserve2K14') (Twitter)
		br
		| and Spoiler, an Ann Arbor, MI club team.
		a(href='http://twitter.com/SpoilerUltimate') (Twitter)
	p
		| My favorite game is 
		a(href='http://us.battle.net/sc2/en/', target='_blank') Starcraft II.
	p
		| Here's my 
		a(href='http://ggtracker.com/players/141899/saddestroyer', target='_blank') GGTracker profile
