extends layout
block append content
	p.
		Welcome to my website.
		Connect with me on social media below
	div(class='row')
		div(class='col-sm-2')
			a(href='https://twitter.com/johnpfonte') @johnpfonte
		div(class='col-sm-2',id='email')
			| john@fonte.com
