extends layout
block append content
    p
        | I develop software for 
        a(href='http://learninga-z.com', target='_blank') Learning A-Z
    p
        | I'm on 
        a(href='http://github.com/johnfonte', target='_blank') Github
