extends layout
block append nav
    li
        a(href='/') Home
    li
        a(href='/programming') Programming
    li
        a(href='/technology') Technology
    li
        a(href='/gaming') Gaming
    li(class='active')
        a(href='/ultimate') Ultimate
block append content
    p.
        Ultimate Frisbee
