extends layout
block append content
    p
        | Ultimate Frisbee is the greatest sport ever.
    p
        | I played for 
        a(href='http://www.magnumultimate.com/reserve/', target='_blank') MagnUM Reserve
        a(href='http://twitter.com/Reserve2K14') (Twitter)
        br
        | and Spoiler, an Ann Arbor, MI club team.
        a(href='http://twitter.com/SpoilerUltimate') (Twitter)