@font-face {
  font-family:SF New Republic;
  src:url(../fonts/SFNewRepublic.ttf)
}

@media (min-width: 1200px) {}

/* outer */
html,
body {
  background-color:#fff;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing:antialiased;
  -webkit-overflow-scrolling:touch
}

/* links */
a {
  text-decoration: none;
  display: block;
  word-wrap:break-word;
}
a:hover,a:focus{
  text-decoration:none;

}
a, h1, h2, h3, h4, h5, h6, p {
  line-height: 1.3;
  font-weight: 400;
  margin: 0;
  -webkit-user-select: text;
  color: #2980B9;
}

/* transitions */
.tab {
  -webkit-transition:border 0.3s ease-in, color 0.3s ease-in;
  -moz-transition:border 0.3s ease-in, color 0.3s ease-in;
  -ms-transition:border 0.3s ease-in, color 0.3s ease-in;
  -o-transition:border 0.3s ease-in, color 0.3s ease-in;
  transition:border 0.3s ease-in, color 0.3s ease-in
}

i, h1, .setmine, .golfbmp {
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in
}

/* tabs */
.tab, .tab.clicked {
  padding-bottom: .3em;
  border-bottom: thick solid transparent;
}

.tab:hover, .tab.clicked {
  border-bottom: thick solid #d91e18;
}

.interact {
  display: inline-block;
}

.interact:hover div i, .link:hover div i,
.tab:hover, .tab.clicked {
  color: #d91e18;
}

/* section headers */
.setmine {
  font-family: SF New Republic;
  color: #4981c2;/*4183d7*/
  font-size:28px;
}
#setmine:hover .setmine {
  color: #9a61a8;
}

.golfbmp {
  font-family: Verdana, sans-serif;
  color: #87b250;
}
#golfbmp:hover .golfbmp {
  color: #118a42;
}

.betterauth
{
  font-family: "Myriad Pro", Georgia, serif;
  font-weight: bold;
  font-style: italic;
  color: #0099FF;
  font-size:28px;
}

/* contact flexbox */
#contact {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

/* content */
a#name, .column, .project, .text {
  display: inline-block;
}
.link {
  display: block;
}
div.external {
  float: left;
}
i.external {
  padding: .35em;
}
.column {
  padding: .8em;
}

.text, .project {
  text-align: start;
  vertical-align: top;
}
.section {
  float: left;
  line-height: 2em;
  font-size: 28px;
}

/* simple classes */
.hidden {
  display: none;
}
.centered{
  text-align:center
}

/* title */
.title h1 {
  font-size: 3em;
  letter-spacing: .05em;
  margin-top: 50px;
}
.title h1:hover {
  color: #d91e18;
}

/* scrollup */

.scrollup {
    width: 40px;
    height: 35px;
    display: none;
    background-color: #000;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 5%;
}

/* tags */
i {
  color: #2980B9;
}
hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #2980B9;
  margin: 1em auto; padding: 0;
}
div.image { /* individual images overwrite width and bg size */
  height: 56px;
  width: 56px;
  background-position: .5em;
  margin: 0 .5em;
  float: left;
  background-repeat: no-repeat;
  background-image: url('../img/sprite.png');
}
#setmine div.image {
  background-position: 0 0;
}
#golfbmp div.image {
  width: 54px;
  background-position: 0px -56px;
}
div.image.uofm {
  width: 54px;
  background-position: 0px -112px;
}
div.image.a2 {
  background-position: 0px -168px;
}
div.image.ulti {
  background-position: 0px -224px;
}
div.image.spoiler {
  width: 84px;
  background-position: 0px -280px;
}
div.image.magnum {
  width: 63px;
  background-position: 0px -336px;
}
p {
  line-height:28px;
  margin-bottom:25px;
  padding-right: 2em;
}

@media (max-width: 600px) {
  .project, hr, .scrollup-container {
    width: 90%;
  }
  i.external {
    padding-top: 0;
    padding-bottom: 0;
  }
  .section {
    font-size: 20px;
  }
  div.image { /* individual images overwrite width and bg size */
    height: 40px;
    width: 40px;
    background-position: .5em;
    margin: 0 .5em;
    float: left;
    background-repeat: no-repeat;
    background-image: url('../img/sprite-sm.png');
  }
  #setmine div.image {
    background-position: 0 0;
  }
  #golfbmp div.image {
    width: 38px;
    background-position: 0px -40px;
  }
  div.image.uofm {
    width: 38px;
    background-position: 0px -80px;
  }
  div.image.a2 {
    background-position: 0px -120px;
  }
  div.image.ulti {
    background-position: 0px -160px;
  }
  div.image.spoiler {
    width: 60px;
    background-position: 0px -200px;
  }
  div.image.magnum {
    width: 45px;
    background-position: 0px -240px;
  }
}
@media (min-width: 600px) {
  .project {
    width: 45%;
  }
}
@media (min-width: 800px) {
  .project {
    width: 45%;
    max-width: 350px;
  }
  hr, .scrollup-container {
    width: 90%;
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .project {
    width: 45%;
    max-width: 530px;
  }
  hr, .scrollup-container {
    width: 90%;
    max-width: 1060px;
  }
}
