html,
body {
  background-color:#ECF0F1;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  -webkit-font-smoothing:antialiased;
  -webkit-overflow-scrolling:touch
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #34495E;
}

.container .credit {
  margin: 20px 0 0 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-right img {
  padding-left: 15px;
}

.cwrap {
  padding: 20px 0px;
}

canvas {
  width: 120px;
  height: 120px;
}

#header, #header h1{
  /*color: #E74C3C;*/
  /*background-color: #111;*/
}

#about {
  background-color: #2980B9;
  color: white;
}

#experience {

}

#projects {

}

#skills, #skills h3 {
  background-color: #95A5A6;
  color: white;
}

#contact {

}

#jquerylogo {
  background-color: white;
}

#phplogo {
  background-color: #8792bf;
}
.betterauthtext
{
  font-family: "Myriad Pro", Georgia, serif;
  font-weight: bold;
  font-style: italic;
  color: #0099FF;
  font-size:28px;
}
.project-image {
  height:64px;
}
p{
  line-height:28px;
  margin-bottom:25px
}
.centered{
  text-align:center
}
a#resumeLink {
  color:#F1C40F;
}

a#resumeLink:hover, a#resumeLink:focus {
  color:#2C3E50;
}

a{
  /*color:#f85c37;*/
word-wrap:break-word;
-webkit-transition:color 0.1s ease-in, background 0.1s ease-in;
-moz-transition:color 0.1s ease-in, background 0.1s ease-in;
-ms-transition:color 0.1s ease-in, background 0.1s ease-in;
-o-transition:color 0.1s ease-in, background 0.1s ease-in;
transition:color 0.1s ease-in, background 0.1s ease-in
}
a:hover,a:focus{
  /*color:#7b7b7b;*/
text-decoration:none;
outline:0
}
a:before,a:after{
  -webkit-transition:color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition:color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition:color 0.1s ease-in, background 0.1s ease-in;
  -o-transition:color 0.1s ease-in, background 0.1s ease-in;
  transition:color 0.1s ease-in, background 0.1s ease-in
}
hr{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #2980B9;
  margin:1em 0;
  padding:0
}
